<footer id="footer">
    <div class="inner md:5" style="background-color: #C5B358;">
        <div class="mx-auto" style="width: 200px;">
            &copy; 
            <%= Time.now.year %>
            All rights reserved   |   
            Design: yo sigo practicando
        </div>
    </div>
</footer>
